@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

/* reset css */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button {
  background: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* css стили */
:root {
  font-family: "Titillium Web", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Titiliu;
}


body {
  font-family: "Titillium Web", sans-serif;
}

.header-nav {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 240px;
  background-color: #FFFFFF;
  height: 70px;
}

.header-banner {
  display: flex;
  background-color: #61BB61;
  height: 190px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  margin-top: 25px;
}

.banner-title {
  font-weight: 700;
  font-size: 56px;
  color: #FFFFFF;
  line-height: 64px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;


}

.nav-title {
  font-family: "Titillium Web", sans-serif;
  width: 158px;
  height: 37px;
  color: #61BB61;
  font-size: 24px;
  font-weight: 700;
}

.banner-subtitle {
  color: #FFFFFF;
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;

}

.tags-container {
  height: 88px;
  border-radius: 16px;
  padding: 16px;
  border: 1px solid #AAAAAA;
  margin: 0 auto;
  width: 800px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.tags-title {
  margin-bottom: 8px;
  font-weight: 700;
  font-style: Bold;
  display: flex;
  justify-self: flex-start;
  font-size: 16px;
  line-height: 24px;
}

.tags-nav {
  background-color: #FFFFFF;
  opacity: 1;
  padding-top: 6px;
  padding-bottom: 6px;
  display: flex;
}

.tag {
  color: #AAAAAA;
  padding: 4px 16px;
  border-radius: 10px;
  margin-right: 8px;
  border: 1px solid #AAAAAA;
}

.tag:hover {
  scale: 1.1;
}

.blog {
  border-radius: 16px;
  padding: 16px;
  border: 1px solid #AAAAAA;
  margin: 0 auto;
  width: 800px;
}

.blog-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-list li {

  margin: 16px 0;
}

.blog-list a {
  padding-right: 100px;
}

.blog-info {
  justify-self: flex-start;
  position: relative;
}

.blog-info:before {
  position: absolute;
  background-repeat: no-repeat;
  top: 3px;
  content: "";
  background-image: url(/icon.svg);
  width: 16px;
  height: 16px;
}

.blog-author {
  color: #5CB85C;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}

.blog-date {
  color: #AAAAAA;
  margin-top: 4px;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;

}

.blog-name {
  font-weight: 600;
  margin: 16px 0px;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 0%;
  vertical-align: middle;

}

.blog-desc {
  color: #AAAAAA;
  font-size: 16px;
}

.blog-heeader {
  display: flex;
  justify-content: space-between;
}

.blog-likes {
  display: flex;
  position: relative;
  color: #61BB61;
  font-size: 12.8px;
  height: 35px;
  border-radius: 6px;
  padding-top: 8px;
  padding-left: 48px;
  padding-right: 12px;
  border: 1px solid #61BB61;
}

.blog-likes:before {
  position: absolute;
  display: block;
  background-repeat: no-repeat;
  left: 22px;
  top: 13px;
  width: 16px;
  height: 16px;
  content: "";
  background-image: url(/like.svg);
}

.blog-tags {
  display: flex;
  justify-self: flex;
}

.blog-tag {
  color: #AAAAAA;
  font-weight: 600;
  font-size: 12.8px;
  border: 1px solid #AAAAAA;
  padding: 6px 16px;
  border-radius: 10px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.page-link {
  color: #61BB61;
  font-weight: 600;
  font-size: 16px;
  padding: 12px 16px;
  border: 1px solid #61BB61;
}

.page-active {
  background-color: #61BB61;
  color: #FFFFFF;
}


.nav-tag {
  position: relative;
  font-family: "Source Sans 3", sans-serif;
  width: 41px;
  height: 11px;
  opacity: 1;
  font-weight: 400;
  font-size: 16px;
  margin-right: 44px;
}

.new-post:before {
  position: absolute;
  display: block;
  background-repeat: no-repeat;
  left: -20px;
  top: 6px;
  width: 16px;
  height: 16px;
  content: "";
  background-image: url(/favorite.svg);
}

.settings::before {
  position: absolute;
  display: block;
  background-repeat: no-repeat;
  left: -20px;
  top: 4px;
  width: 16px;
  height: 16px;
  content: "";
  background-image: url(/favorite1.svg);
}

.login-icon:before {
  position: absolute;
  display: block;
  background-repeat: no-repeat;
  left: -20px;
  top: 6px;
  width: 16px;
  height: 16px;
  content: "";
  background-image: url(/favorite2.svg);
}

.nav-tag:hover {
  scale: 1.1;
}

.logout-btn {
  color: #BB6161;
  border-radius: 8px;
  padding: 8px 16px;
  border: 1px solid #BB6161;
  width: 200px;
  justify-self: flex-start;
}

.login-page {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login-title {
  font-size: 45px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 35px;
}

.registration-link {
  color: #AAAAAA;
  margin-right: 25px;
  font-size: 25px;
  font-weight: 500;
}

.registration-link:hover {
  color: rgb(165, 76, 76);
}

.login-link {
  color: #AAAAAA;
  font-size: 25px;
  font-weight: 500;
}

.login-link:hover {
  color: rgb(165, 76, 76);
}

.signup {
  margin-top: 45px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-title {
  font-size: 46px;
  font-weight: 700;
  margin-bottom: 30px;
}

.signup-text {
  margin-bottom: 20px;
}

.signup-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup-inputs input {
  width: 480px;
  height: 48px;
  margin-bottom: 16px;
  border-radius: 10px;
  border: 1px solid #AAAAAA;
  color: black;
}

.signin-inputs input {
  width: 480px;
  height: 48px;
  margin-bottom: 16px;
  border-radius: 10px;
  border: 1px solid #AAAAAA;
  color: black;
}

.signup-inputs label {
  margin-top: 20px;
}

.signin-inputs {
  display: flex;
  flex-direction: column;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading-mg {
  margin-top: 50px;
  margin-bottom: 20px;
  width: 64px;
  height: 64px;
  animation: loading-mg 1s linear infinite;
}

@keyframes loading-mg {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading {
  color: #61BB61;
  font-weight: 400;
  font-size: 32px;
}

.error-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.error-container h1 {
  font-weight: 600;
  font-style: italic;
  font-size: 34px;
  color: #BB6161;
  margin-top: 50px;
  margin-bottom: 20px;
}

.error-container p {
  font-size: 25px;
}


.error {
  color: rgb(165, 76, 76);
  font-style: italic;
}

.signup label {
  margin-right: 15px;
}

.signup-agree {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.signup-agree p {
  margin-right: 10px;
  color: #AAAAAA;
}

.signup-checkbox {
  width: 15px;
  height: 15px;
  margin-left: 15px;
}

.signup-btn {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  padding: 10px 40px;
  background-color: #5CB85C;
  border-radius: 8px;
  border: 1px solid #5CB85C;
  display: flex;
  align-self: end;
}

.signup-btn:hover {
  scale: 1.1;
}

.signin-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signin-btn {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  padding: 10px 40px;
  background-color: #5CB85C;
  border-radius: 8px;
  border: 1px solid #5CB85C;
  display: flex;
  align-self: end;
}

.signin-btn:hover {
  scale: 1.1;
}

.signin-inputs input::placeholder {
  padding: 10px;
}

.signup-inputs input::placeholder {
  padding: 10px;
}

.signin-title {
  align-items: center;
  display: flex;
  margin-top: 45px;
  font-size: 46px;
  font-weight: 700;
  margin-bottom: 30px;
}

.signin-text {
  margin-bottom: 20px;
}

.signin label {
  margin-right: 15px;
}

.signup-errors-list {
  color: rgb(165, 76, 76);
  font-weight: 500;
  font-size: 30px;
}

.signup-errors-list li {
  margin-bottom: 30px;
}

.signin-errors-list {
  color: rgb(165, 76, 76);
  font-weight: 500;
  font-size: 30px;
}


.signin-errors-list li {
  margin-bottom: 30px;
}

.greating-user {
  margin-top: 20px;
  font-size: 25px;
  color: #FFFFFF;
  font-weight: 500;
}

.editing-errors-list li {
  color: rgb(165, 76, 76);
  font-style: italic;
  margin-bottom: 10px;
}

.editing {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.editing-title {
  display: flex;
  justify-self: center;
  font-weight: 700;
  font-size: 46px;
  margin-bottom: 16px;
}

.editing label {
  margin-bottom: 20px;

}


.editing-inputs {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.editing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.editing-form {
  width: 480px;
}

.editing-inputs input {
  width: 480px;
  height: 48px;
  margin-bottom: 16px;
  border-radius: 10px;
  border: 1px solid #AAAAAA;
  color: black;
}

.editing-inputs input::placeholder {
  padding: 10px;
  color: #AAAAAA;
}

.editing-btn {
  margin-top: 10px;
  margin-bottom: 35px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  padding: 10px 40px;
  background-color: #5CB85C;
  border-radius: 8px;
  border: 1px solid #5CB85C;
  display: flex;
  align-self: end;
}

.editing-btn:hover {
  scale: 1.1;
}

.notfound {
  margin-top: 30px;
}

.notfound-title {
  font-weight: 700;
  font-size: 37px;
  color: rgb(165, 76, 76);
  margin-bottom: 45px;
}

.notfound-link {
  font-size: 30px;
  font-style: italic;
}

.create-article {
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-article form {
  width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.new-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.new-title {
  font-size: 35px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 35px;
}

.article-edit-title {
  font-size: 35px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 35px;
}

.new-inputs {
  width: 850px;
}

.new-inputs input {
  width: 480px;
  height: 48px;
  margin-bottom: 16px;
  border-radius: 10px;
  border: 1px solid #AAAAAA;
  color: black;
}

.new-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.new-body input {
  height: 100px;
}

.new-input-article {
  border-radius: 10px;
  height: 120px;
  width: 550px;
}

.new-input-tags {
  border-radius: 10px;
  width: 250px;
  height: 30px;
}

.new-inputs input::placeholder {
  padding: 10px;
}

.new-btn {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  padding: 10px 40px;
  background-color: #5CB85C;
  border-radius: 8px;
  border: 1px solid #5CB85C;
  display: flex;
  align-self: end;
}

.new-btn:hover {
  scale: 1.1;
}

.blog-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.details-title {
  display: flex;
  align-items: center;
  font-size: 46px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 16px;
}

.details-info {
  height: 282px;
  width: 100%;
  background-color: #333333;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.details-author {
  color: #5CB85C;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 16px;
  font-weight: 500;
}

.article-btn-box {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.article-btn-box button {
  color: #BB6161;
  border-radius: 8px;
  padding: 8px 16px;
  border: 1px solid #BB6161;
  width: 200px;
  display: flex;
  margin-bottom: 16px;
}

.details-description {
  margin-top: 40px;
  margin-bottom: 25px;
  font-size: 30px;
  font-weight: 500;
}

.details-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.confirm-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 150px;
  background-color: white;
}

.confirm-btn-box {
  border-radius: 10px;
  box-shadow: 15px 5px 10px rgb(235, 224, 224);
  margin-top: 20px;
  display: flex;
}

.confirm-btn-box button {
  margin-right: 15px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.confirm-btn-box button:hover {
  scale: 1.1;
}

.confirm-title {
  font-size: 25px;
  font-weight: 600;
}